@font-face {
    font-family:"norse";
        src: url("webfontkit-20250712-093851/norse-bold-webfont.woff2") format("woff2"),
            url("webfontkit-20250712-093851/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    line-height: 1.5;
}

body{
    background-color: whitesmoke;
}
.container{
    display: flex;
}

/*images and logo */

.image_container{
    width: 35vw;
    height: 100vh;
}

.img_back img{
    position: relative;
    width: 35vw;
    height: 100vh;
}

.img_float img{
    width: 70px;
}

.img_float {
    position : absolute;
    top: 20%;
    background: black;
    opacity: 0.6;
    color: aliceblue;
    width: inherit;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 100%;
}

span{
    font-family: norse, sans-serif;
    font-size: 4rem;
    color: white;
    display: flex;
    align-items: center;
}

.photo_credit{
    position: absolute;
    bottom: 5%;
    color: aliceblue;
    font-size: 0.7rem;
    text-align: center  ;
    width: 35vw;
}

a {
    color: white;
}

/* form input styles */

.signup_container {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 70px 0;
    width: 65%;

}

.information{
    font-weight: bold;
    font-size: 18px;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}

form{
    padding-left: 16px;
}

.form_container{
    display: flex;
    font-size: 10px;
    gap: 20px;
    padding: 16px;
    background-color: white;
    width: 75vw;
    border-bottom:grey ;
}

button{
    width: 150px;
    height: 36px;
    margin-top: 26px;
    font-size: 12px;
    font-weight: bold;
    gap: 6px;
    border-radius: 5px;
    color: white;
    background-color: #596D48;
    border: 0px;
}

button:hover{
    background-color: mediumseagreen;
}

label {
    font-weight: bold;
    text-transform: uppercase;
}

input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input:focus {
    border-color: dodgerblue;
    box-shadow: 0.1em 0.1em 0.2em grey;
}

input[type="password"]:invalid {
    border-color: red;
}

input[type="email"]:invalid {
    border-color: red;
}

input[type="tel"]:invalid {
    border-color: red;
}

input:valid{
    border:1px solid green;
}

input {
    border-color: #E5E7EB;
    border-radius: 6px;
    border-style: solid;
    border-width: thin;
    height: 1.6rem;
    outline: none;
    width: 14rem;
}

.log_in{
    font-size: 12px;
    margin-top: 10px;
}