@font-face {
    font-family:"norse";
        src: url("webfontkit-20250712-093851/norse-bold-webfont.woff2") format("woff2"),
            url("webfontkit-20250712-093851/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}

.image_container{
    width: 35vw;
    height: 100vh;
}

.img_back img{
    position: relative;
    width: 35vw;
    height: 100vh;
}

.img_float img{
    width: 70px;
}

.img_float {
    position : absolute;
    top: 15%;
    background: black;
    opacity: 0.6;
    color: aliceblue;
    width: inherit;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 100%;
}

span{
    font-family: norse, sans-serif;
    font-size: 4rem;
    color: white;
    display: flex;
    align-items: center;
}

.photo_credit{
    position: absolute;
    bottom: 8%;
    color: aliceblue;
    font-size: 0.7rem;
    text-align: center  ;
    width: 35vw;
}

button{
    width: 150px;
    height: 40px;
    font-size: inherit;
    border-radius: 5px;
    color: white;
    background-color: #596D48;
    border: 0px;
}

button:hover{
    background-color: mediumseagreen;
}

input :focus{
    border: 1px solid blue;

}

input:invalid{
    outline-color: red;
}

input:valid{
    border:1px solid green;
}